
hr{
    height: 3px;
    background-color: black;
    max-width: 1200px;
}

#title{
    text-align: center;
    font-size: 30px;
}

.logo{
    margin: auto;
    max-width: 1200px;
}

.logo img{
    width: 400px;
}

.logo a{
    max-width: 400px;
}

.headers{
    text-align: center;
    padding: 10px;
    font-size: 26px;
}

#productGalleryTitle{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.galleryBox{
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.galleryImages{
    margin-top: 30px;
    text-align: left;
    display: block;
    font-size: 25px;
}

.galleryImages img{
    border: 6px solid black;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    background-color: yellow;
    font-weight: bold;
}

#originalDetailPageTitle{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.originalDetailPageImageBox{
    margin-top: 30px;
    text-align: center;
}

.originalDetailPageImage img{
    border: 6px solid black;
}

.originalDetailPageTextBox{
    text-align: left;
    max-width: 400px;
    margin: auto;
    font-size: 35px;
}

.dropdown{
    padding-top: 50px;
}

#glazingDropdownContent{
    font-size: 35px;
    width: 400px;
    border: 4px solid black;
}

#packsizeDropdownContent{
    font-size: 35px;
    width: 400px;
    border: 4px solid black;
}

#addToCartButton{
    background-color: yellow;
    display: inline-block;
    width: 250px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid black;
}

#basketPrice{
    text-align: left;
}

.addToCart{
    text-align: right;
    padding-top: 100px;
    font-weight: bold;
}

#basketPrice{
    padding-right: 50px;
}

